
.div1{
    z-index: 1;
    position: absolute;
    left:30px;
    background-color: greenyellow;
}
.div2{
    z-index: 2;
    position: absolute;
    left:300px;
    background-color: antiquewhite;
}
.div3{
    z-index: 3;
    position: absolute;
    left:570px;
    background-color: aqua;
}

div{
    width: 300px;
    height: 300px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}
p{
    width: 30px;
    padding-right: 270px;
    word-break: break-all;
    
   

